<footer class="footer" role="contentinfo" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WPFooter">
    <section class="footer__section">
        <header class="footer__section__header">
            <p itemprop="about">
                <strong>
                    <h4><a href="/" target="_blank" class="footer__kartanus">Kartanus</a></h4>
                </strong> — Focus to
                spread news related to Programming, Science and Technology.
            </p>
        </header>
        <article class="footer__section__article">
            <span>
                Made by <strong><a href="https://github.com/kartanusdev" target="_blank" itemprop="author"
                        class="footer__author">@kartanusdev</a></strong> with
                <❤️ />.
            </span>
        </article>
    </section>
</footer>